# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log
.byebug_history

# Let's not bake secrets into our Docker images
.env
.env.production

# This messes with how phusion/passenger-ruby wants to install gems
.ruby-version
.ruby-gemset

# Ignore master key for decrypting credentials.
# Locally and in production we should be using RAILS_MASTER_KEY
/config/master.key
